.menu {
    display: none;
}

/* lg */
@media (max-width: 960px) {
    #hero h1 {
        font-size: 2rem;
        letter-spacing: 0rem;
    }

    #hero p {
        font-size: 1.125rem;
        letter-spacing: 0rem;
    }

    .search-btn {
        width: 60%;
        padding: 8px 16px;
    }

    .nav-items,
    .nav-btn {
        display: none;
    }

    .menu {
        display: block;
        fill: var(--primary-color);
        width: 32px;
    }
    .menu:hover{
        cursor:pointer;
    }

}

/* md */
@media (max-width: 640px) {
    .cursor{
        display: none;
    }
    body{
        cursor:inherit;
    }
    #hero h1 {
        font-size: 1.75rem;
        font-weight: 500;
        letter-spacing: 0rem;
    }

    #hero p {
        font-size: 1rem;
        letter-spacing: 0rem;
    }

    .search-btn {
        width: 70%;
        padding: 6px 12px;
    }

    /* placeholder font change */
    .search-btn .search-box::placeholder {
        font-size: 1.25rem;
    }

    .search-btn svg {
        width: 28px;
    }

    .nav-bar {
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* xs */
@media (max-width: 475px) {
    #hero h1 {
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0rem;
    }

    #hero p {
        font-size: 0.9rem;
        letter-spacing: 0rem;
    }

    .search-btn {
        width: 70%;
        padding: 6px 12px;
    }

    #hero .caro .carousel img {
        height: 150px;
        padding-right: 16px;
    }

    #hero .cover-img {
        width: 100%;
        height: 30px;
        transform: translateY(45px);
    }

    #hero .y {
        transform: translateY(196px);
    }
}