@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

:root {
    --primary-color: hsla(252, 96%, 67%, 1);
    --secondary-color: hsla(213, 46%, 84%, 1);
    --accent-color: #131216;
    --max-width: 1440px;
}

body {
    scroll-behavior: smooth;
    overscroll-behavior: none;
    background-color: var(--accent-color);
    color: #ffffffcc;
    cursor: none;
}

.fullScroll {
    background-color: var(--accent-color);
}



/* slection */
::selection {
    background-color: var(--primary-color);
    color: #f1f1f1;
}

::-moz-selection {
    /* Code for Firefox */
    color: red;
    background-color: var(--primary-color);
}

/* cursor */
.cursor {
    position: absolute;
    left: 50%;
    z-index: 600;
    pointer-events: none;
    transition: all 300ms;
    transition-property: background, transform;
}

.hover {
    transform: scale(1.2);
    transition: all 300ms;
    transition-property: background, transform;
}

.clicks {
    transform: scale(0.8);
    transition: all 300ms;
    transition-property: background, transform;
}

.mouse-hidden {
    display: none;
    transition: all 300ms;
}

.main {
    width: 100%;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 24px;
}

/* main nav */
#nav-bar {
    /* top: 0;
    position: sticky; */
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    background: hsla(255, 10%, 8%, 0.9);
    backdrop-filter: blur(20px);
    z-index: 1;
}

.nav-bar {
    z-index: 100;
    display: flex;
    width: 100%;
    height: 80px;
    padding: 24px 60px;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 10000;
}

.abs * {
    transition: all 0.2s ease-in;
}

.active1 {
    /* transform: rotateZ(45deg) scaleX(1.25) translate(0px, -10px); */
    transform: rotateZ(45deg) translate(4px, -10px);
    transition: all 0.2s ease-in;
}

.active2 {
    /* transform: rotateZ(-45deg) scaleX(1.25) translate(-15px, 0px); */
    transform: rotateZ(-45deg) translate(-15px, 0px);
    transition: all 0.2s ease-in;
}

.nav-bar a {
    text-decoration: none;
    color: #ffffffdd;
}

/* left nav */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 80%;
    letter-spacing: -0.36px;
    color: var(--secondary-color);
    cursor: pointer;
    text-wrap: nowrap;
}

/* center nav */
.nav-items {
    display: flex;
    align-items: flex-start;
    /* gap: 40px; */
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.12px;
    transition: all 0.2s ease-in;
}

.nav-links {
    position: relative;
    overflow: hidden;
    transition: .3s;
    padding: 2px 12px;
}

.nav-links:hover {
    /* color: var(--primary-color); */
    transition: all 0.2s ease-in;
}

.nav-links:before {
    content: "";
    position: absolute;
    inset: calc(100% - 2px) 0 0 0;
    background-color: var(--primary-color);
    scale: 0 1;
    transition: 0.3s, translate 0s 0.3s;
}

.nav-items:hover .nav-links:before {
    scale: 1;
}

.nav-links:hover:before {
    translate: 0;
    transition: 0.3s;
}

.nav-items:hover .nav-links:has(~ .nav-links:hover):before {
    translate: 100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
}

.nav-items:hover .nav-links:hover~.nav-links:before {
    translate: -100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
}

/* right nav */
.nav-btn {
    display: flex;
    align-items: center;
    gap: 32px;
    cursor: pointer;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.12px;
}

.login-btn {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    border: 2px solid var(--primary-color);
    transition: all 0.2s ease-in;
}

.sign-up-btn {
    background-color: var(--primary-color);
    transition: all 0.2s ease-in;
}

.login-btn:hover {
    border: 2px solid hsl(252, 70%, 57%);
    transition: all 0.2s ease-in;
}

.sign-up-btn:hover {
    background-color: hsl(252, 70%, 57%);
    transition: all 0.2s ease-in;
}

/* background */

/* hero */
#hero {
    /* display: flex; */
    width: 100%;
    /* height: 800px; */
    padding: 120px 0;
    background: url("./assets/bg.svg");
    background-position: center;
    background-position-y: 10;
    z-index: -2;
}

.Pages {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    padding: 80px 0;
    background: url("./assets/bg.svg");
    background-position: center;
    background-position-y: 10;
    z-index: -2;
}

.bg-blur {
    left: 25%;
    width: 50%;
    height: 50%;
    flex-shrink: 0;
    position: absolute;
    background-color: #ffffffcc;
    mix-blend-mode: overlay;
    filter: blur(130px);
    z-index: -2;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}

#hero .hero-center {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#hero h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.12rem;
    text-align: center;
}

#hero p {
    color: #9990bf;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.03rem;
}

.search-btn {
    display: flex;
    width: 40%;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 999px;
    cursor: text;
    transition: all 0.2s ease-in;
}

.search-btn .box {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-btn .search-box {
    border: none;
    background: none;
    outline: none;
    color: var(--secondary-color);
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 150%;
    width: 100%;
}

.search-btn .search-box::placeholder {
    color: #E7DEFE;
    color: var(--secondary-color);
}

.search-btn svg {
    cursor: pointer;
}

.search-btn:hover {
    background-color: hsl(252, 70%, 57%);
    transition: all 0.2s ease-in;
}

/* cover */
#hero .cover-img {
    width: 100%;
    height: 50px;
    background-color: var(--accent-color);
    /* background-color: red; */
    position: absolute;
    transform: translateY(35px);
    border-radius: 100%;
    z-index: -5;
}

#hero .y {
    transform: translateY(270px);
}

/* carousel */
.caro {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    z-index: -10;
}

#hero .caro .carousel {
    display: inline-block;
    align-items: flex-start;
    padding-top: 60px;
    animation: 20s slide infinite linear;
}

#hero .caro .carousel img {
    height: 235px;
    padding-right: 16px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Top Airing */

.content {
    display: flex;
    width: 82rem;
    padding: 0.25rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.content h1 {
    color: #ffffffcc;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.09rem;
}


.Pagesfooter {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* Footer */

#footer {
    background-color: #0f0e11;
    display: flex;
    width: 100%;
    /* height: 10rem; */
    justify-content: center;
    align-items: center;
}

.footerflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 60px;
    max-width: var(--max-width);
    margin: 0 auto;
}

.footerflex .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.footerflex .center .up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.footerflex .center .up a,
.footerflex .center a {
    color: #ffffffaa;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.0225rem;
    transition: all .2s ease-in;
}

.footerflex .center .up a:hover,
.footerflex .center a:hover,
.footerflex .right a:hover {
    color: #ffffffd1;
}

.footerflex .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
}

.footerflex .right a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffffaa;
    text-align: center;
    font-size: 1.125rem;
    gap: .25rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.0225rem;
}

/* trending */
.card__ {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.anime__card {
    width: 216px;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: #212121;
    border-radius: 16px;
    padding: 8px;
    border: 1px solid #313131;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in;
}

.anime__card h2 {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500;
}

.anime__card:hover {
    border: 1px solid #414141;
    /* glow */
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2),
        0 0 12px 0 rgba(255, 255, 255, 0.08);
}

.anime__card img {
    width: 200px;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center
}

.status__ {
    color: #ffffffaa;
    font-size: 0.9rem;
    font-weight: 300;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.base__ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    color: #ffffffaa;
}

/* FAQ */
.FAQcontent {
    display: flex;
    width: 82rem;
    padding: 0.25rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.ques {
    width: 60%;
    height: 50px;
    overflow: hidden;
    background-color: #212121;
    padding: 4px 12px;
    border-radius: 8px;
    transition: all 0.2s ease-in;
}

.ques__ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ques__ h2 {
    font-size: 1.25rem;
    color: #ffffffaa;
    font-weight: 300;
}

.ques__ span {
    font-size: 2rem;
    color: #ffffffaa;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.ques p {
    /* border-top: 1px solid #414141; */
    color: #ffffffaa;
    font: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 4px;
    display: none;
    transition: all 2s ease-in;
}

* {
    cursor: none !important;
}

*:hover {
    cursor: none !important;
}